<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head.ejs')%>
  
   </head>
<body>
    <%- include('../partials/navbar.ejs')%> 
    <%- include('../pages/final.ejs')%>
    <h2>contact </h2>
    <%- include('../partials/footer.ejs')%> 
</body>
</html>