<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head.ejs')%>
</head>
<body>

    <%- include('../partials/navbar.ejs')%> 
    <%- include('./run.ejs')%> 
    <h2>Home page</h2>
    <%- include('../partials/footer.ejs')%> 
</body>
</html>